* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.App {
  width: 300px;
}

.flex {
  display: flex;
  gap: 10px;
}

button {
  height: 30px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gainsboro;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: gainsboro;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 1px 4px gray;
}

.menu div {
  align-self: center;
}

.menu img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.login {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
  padding: 0 5vw;

}

.login h2 {
  background-image: linear-gradient(45deg, #1920db, #ffa1a1);
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}